* {
    padding: 0px;
    margin: 0px;
}

.side-bar {
    width: 65px;
    height: 100%;
    background-color: #191818;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    margin: 13px;
}

